<div class="form-container">
  <h2>🔐 Iniciar Sesión</h2>

  <form (ngSubmit)="login()">
    <div class="form-group">
      <label>Email</label>
      <input type="email" [(ngModel)]="email" name="email" required />
    </div>

    <div class="form-group">
      <label>Contraseña</label>
      <input type="password" [(ngModel)]="password" name="password" required />
    </div>

    <button type="submit">Iniciar Sesión</button>

    <p class="switch-text">
      ¿No tienes cuenta?
      <a routerLink="/register">Regístrate aquí</a>
    </p>
  </form>
</div>
